{% extends "base.html" %}

{% block title %}
{{ task.title }}
{% endblock %}


{% block body %}
<div class="container mt-5">
<h>{{ task.title }}</h>


    <div class="alert alert-info">
        <p>{{ task.text }}</p>
        <p><br>Дата: {{ task.date.date() }}</br></p>
        <a href="/tasks/{{ task.id }}/del" class="btn btn-danger">Удалить</a>
        <a href="/tasks/{{ task.id }}/change" class="btn btn-success">Редактировать</a>

    </div>

    </div>
{% endblock %}
\n
